<app-nav></app-nav>
<h1>Add user</h1>
<form [formGroup]="addUserFormGroup" class="add-user-form">
    <div class="sky-form-group" style="max-width: 50%">
        <label for="first-name" class="sky-control-label sky-control-label-required">
            First name
        </label>
        <input class="sky-form-control" id="first-name" type="text" aria-required="true" required>
        <label for="last-name" class="sky-control-label sky-control-label-required">
            Last name
        </label>
        <input class="sky-form-control" id="last-name" type="text" aria-required="true" required>
        <label for="contact-number" class="sky-control-label sky-control-label-required">
            Contact number
        </label>
        <!-- <input class="sky-form-control" id="contact-number" type="text" aria-required="true" required> -->
        <sky-input-box>
            <sky-phone-field >
                <input formControlName="contactPhone" skyPhoneFieldInput class="sky-form-control" id="contact-number">
            </sky-phone-field>
        </sky-input-box>    
        <sky-status-indicator *ngIf="!contactPhone.valid" descriptionType="none" indicatorType="danger">
            Enter a phone number matching the format for the selected country.
        </sky-status-indicator>
        <label for="email" class="sky-control-label">
            Email
        </label>
        <!-- <input class="sky-form-control" id="email" type="text"> -->
        <input class="sky-form-control" formControlName="email" skyId #emailInput="skyId"/>
        <ng-container *ngIf="emailControl.errors && emailControl.touched">
            <div *ngIf="emailControl.errors.required" class="sky-error-label">
              Email address is required.
            </div>        
            <div *ngIf="emailControl.errors.skyEmail && emailControl.dirty" class="sky-error-label">
              Enter a valid email in the "joe@abc.com" format.
            </div>        
        </ng-container>
        <label for="date-of-birth" class="sky-control-label sky-control-label-required" [for]="dateInput.id">
            Date of birth
        </label>
        <!-- <input class="sky-form-control" id="date-of-birth" type="text" aria-required="true" required> -->
        <sky-input-box>
            <sky-datepicker>
              <input
                formControlName="birthDate" id="birthDate" skyDatepickerInput skyId type="text" #dateInput="skyId"/>
            </sky-datepicker>
          </sky-input-box>
        <label for="address" class="sky-control-label">
            Address
        </label>
        <input class="sky-form-control" id="address" type="text">
    </div>
    <div class="sky-form-group">
        <button id="saveUser" class="sky-btn sky-btn-primary">Save user</button>
    </div>
</form>