<app-nav></app-nav>
<h1>Add user</h1>
<form action="" method="post" class="add-user-form">
    <div class="sky-form-group" style="max-width: 50%">
        <label for="first-name" class="sky-control-label sky-control-label-required">
            First name
        </label>
        <input class="sky-form-control" id="first-name" type="text" aria-required="true" required>
        <label for="last-name" class="sky-control-label sky-control-label-required">
            Last name
        </label>
        <input class="sky-form-control" id="last-name" type="text" aria-required="true" required>
        <label for="contact-number" class="sky-control-label sky-control-label-required">
            Contact number
        </label>
        <input class="sky-form-control" id="contact-number" type="text" aria-required="true" required>
        <label for="email" class="sky-control-label">
            Email
        </label>
        <input class="sky-form-control" id="email" type="text">
        <label for="date-of-birth" class="sky-control-label sky-control-label-required">
            Date of birth
        </label>
        <input class="sky-form-control" id="date-of-birth" type="text" aria-required="true" required>
        <label for="address" class="sky-control-label">
            Address
        </label>
        <input class="sky-form-control" id="address" type="text">
    </div>
    <div class="sky-form-group">
        <button id="saveUser" class="sky-btn sky-btn-primary">Save user</button>
    </div>
</form>